 #map-canvas {
        height: 550px;
        margin: 0px;
        padding: 0px
      }
 #floating-panel {
        position: absolute
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        /*font-family: 'Roboto','sans-serif';*/
        line-height: 30px;
        padding-left: 0px;
      }
      #warnings-panel {
        width: 100%;
        height:10%;
        text-align: center;
      }
      #start {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }
      #end {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }
