#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #ddd;
}
#custom-bootstrap-menu.navbar-default {
    /*font-size: 14px;*/
    background-color: #444;
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #ddd;
    background-color: #444;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #ddd;
    background-color: #444;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #ddd;
    background-color: #444;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #444;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #444;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #444;
}
.wrapper{
    margin-top: -20px !important;
}
.main-sidebar{
     margin-top: -50px !important;
}

@media (max-width: 767px) {
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 550px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
  .main-sidebar,
  .left-side {
    padding-top: 100px;
  }

}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-550px, 0);
    -ms-transform: translate(-550px, 0);
    -o-transform: translate(-550px, 0);
    transform: translate(-550px, 0);
  }
}
@media (min-width: 768px) {
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 800px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-800px, 0);
    -ms-transform: translate(-800px, 0);
    -o-transform: translate(-800px, 0);
    transform: translate(-800px, 0);
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar,
  .sidebar-open .left-side {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.content-wrapper,
.left-side,
.right-side {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
}
table tbody tr {
	cursor: pointer;
}
table.dataTable tbody > tr.seleccionado,
table.dataTable tbody > tr > .seleccionado {
  background-color: #ccc !important;
  color: #000 !important
}
